@font-face {
  font-family: 'Janda';
  src: url(../../assets/JandaManateeSolid.ttf)
}
div.results {
  width: 1920px;
  height: 1080px;
  background-image: url(../../assets/pantallas/4pantalla_resultado.jpg);


  div.result-msg {
    font-family: 'Janda';
    font-size: 150px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 250px;
  }

  div.stars-container {
    width: fit-content;
    display: block;
    margin: 0 auto;
    div.stars {
      display: block;
      float: left;
      width: 180px;
      height: 180px;
      background-repeat: no-repeat;
      &.gris {
        background-image: url(../../assets/assets/estrellaGris.png);
      }
      &.yellow {
        background-image: url(../../assets/assets/estrella.png);
      }
    }
  }


  div.newGame {
    position: absolute;
    bottom: 150px;
    left: 700px;
    width: 550px;
    height: 161px;
    background-image: url(../../assets/botones/JUEGO_NUEVO.png);
    cursor: pointer;
  }

}
